ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
atomix.desktop
autom4te.cache/
config.guess
config.h
config.h.in
compile
*~
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
level/Makefile
level/Makefile.in
m4/
missing
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/*~
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.gmo
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/pt_BR.gmo
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/atomix
src/level-convert
src/pf-test
src/*.o
src/*.a
stamp-h1
themes/Makefile
themes/Makefile.in
themes/default/Makefile
themes/default/Makefile.in

